* {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar h2 {
    margin-top: 6px;
}

code {
    white-space: pre;
}

.sidebar {
    background-color: #ccc;
    height: 100vh;
    padding: 20px;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}